*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color:rgb(10, 7, 7);
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor:pointer;
    background-color:rgb(10, 7, 7);
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.sb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}

#us,#cs{
    font-size: 4rem;
}

.msg {
    margin-top: 5rem;
}

#m {
    background-color:rgb(10, 7, 7);
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.end {
    background-color: rgb(10, 7, 7);
    color: aliceblue;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 1.5rem;
}